
.navigation__link {
  display: flex
}

.summary-cards__card-stat {
	font-size: 40px;
	font-weight: 500;
}

/* Chart Component Styles */

.ct-line {
    stroke-width: 2px;
}

.ct-point {
    stroke-width: 0px;
    stroke-linecap: round;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #3949AB;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
    fill: #9FA8DA;
}